<form action = "/payment">
  <label from = "apr_id">APR</label>
  <input id = "apr_id" type = "text" name = "apr" placeholder = "Enter a float (Number with deciman point X.XX)...">

  <label from = "years_id">number of years</label>
  <input id = "years_id" type = "text" name = "years" placeholder = "Enter a number...">

  <label from = "value_id">principal</label>
  <input id = "value_id" type = "text" name = "value" placeholder = "Enter a number...">
  
  <button>Calculate monthly payment</button>
</form>
