<form action = "/random">
  <label from = "min_id" >Minimum</label>
  <input id = "min_id" type = "text" name = "min" placeholder = "Enter a number...">

  <label from = "max_id">Maximum</label>
  <input id = "max_id" type = "text" name = "max" placeholder = "Enter a number...">

  <button>Pick random number</button>
</form>
